@use 'modules/color_theme' as color;
@use 'modules/config' as conf;

a {
  text-decoration: none;

  @include color.themed() {
    color: color.t('primary');
  }

  &:hover {
    @include color.themed() {
      color: color.t('info');
    }
    text-decoration: underline;
    //transition: all 0.35s ease-in;
  }
}

.underline_hover {
  &:hover {
    text-decoration: underline;
  }
}

.info {
  @include color.themed() {
    color: color.t('info');
  }
}

.non_mostrare {
  display: none !important;
}

blockquote {
  padding: 0 1em;

  @include color.themed() {
    color: color.t('primary');

    @include conf.ltr {
      border-left: color.t('border');
    }

    @include conf.rtl {
      border-right: color.t('border');
    }
  }
}

p {
  line-height: 2em;
}

.post__content .text-faint {
  @include color.themed() {
    color: color.t('primary-light');
  }
  a {
    @include color.themed() {
      color: color.t('primary-light');
    }
    text-decoration: underline;
  }
}

.small {
  font-size: 0.875em;
}
