@use 'modules/color_theme' as colore;
@use 'modules/config' as conf;
@use 'sass:color' as SColor;
@use 'modules/variables' as variab;

.nav__list {
    margin: 0;
    list-style: none;

    @include colore.themed() {
      background-color: inherit; // Inherited from header
      // SColor.change(colore.t('accent'), $alpha: variab.$transparency); // Changed this so it matches main color + some opacity
    }

      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
      justify-content: flex-end;

     @include conf.intermedio {
       flex-direction: row;
     }

    &-item {
      padding: 16px 10px;
     // text-align: center;
      white-space: nowrap;

      @include conf.intermedio {
        padding-top: 0;
        padding-bottom: 0;

        &:not(:last-child) {
          @include conf.ltr {
            padding-right: 20px;
          }
          @include conf.rtl {
            padding-left: 20px;
          }
        }
      }
      &:last-child {
        padding-bottom: 0;
      }
    }

}

.nav__link--active {
      $py-desktop: 18px;
      text-decoration: underline;

      @include conf.intermedio {
        text-decoration: none;
        padding-bottom: $py-desktop;
        @include colore.themed() {
          border-bottom: 1px solid colore.t('primary');
          color: colore.t('primary');
        }
      }
}

a.my-name-link {
    display: inline-block;
    padding-top:  0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 1rem;
    //margin-left: 30px;
    @include colore.themed() {
      color: colore.t("primary-light");
    }
    &:hover {
       text-decoration: none;
       @include colore.themed() {
         color: colore.t('primary');
       }
    }
    white-space: nowrap;
}

.navigation_bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
  padding: 1.5rem 2rem;

  @include conf.intermedio {
    flex-flow: row nowrap;
  }

  &_collapse {
    visibility: hidden;
    opacity: 0;
    height: 0;
    max-height: 0;

    flex-grow: 1;
    flex-basis: 100%; // So name is not allowed to expand
    align-items: center;
    text-align: right !important;
    @include conf.intermedio {
      display: flex !important;
      flex-basis: auto;
       // Get it back to normal
      visibility: visible;
      opacity: variab.$transparency;
      height: auto;
      max-height: 300px;
    }
    &.aperta {
      visibility: visible;
      opacity: variab.$transparency;
      height: auto;
      max-height: 300px;
    }

  }

  a:hover {
    text-decoration: none;
  }
  
 }


// To animate menu

 .scrolldown {
   animation-name: MenuScrollDown;
   animation-duration: 0.35s;
   animation-direction: normal;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
 }

.scrollup {
   animation-name: MenuScrollDown;
   animation-duration: 0.35s;
   animation-direction: reverse;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
}

