<nav class="navigation_bar">

  <a class="my-name-link in_out_fast_animated" href="/">Carlo Buccisano</a>
  <button class="navbar-burger quadrato" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
  </button>


  <!-- The rest of navbar -->
  <div id="nav_sparisce" class="navigation_bar_collapse">
    <ul class="nav__list in_out_slow_animated">
	  {{ $url := .RelPermalink }}
      {{ range $menuId, $menuItem := .Site.Menus.main }}
        {{ $active := eq $url $menuItem.URL }}
        {{ if $menuItem.HasChildren }}

          <li class="nav__list-item">
            <div class="optionswitch">
              <input class="optionswitch__picker" type="checkbox" id="{{ $menuId }}" hidden />

              {{ $labelClass := "optionswitch__label" }}
              {{ range $menuItem.Children }}
                {{ if eq $url .URL }}
                  {{ $labelClass = "optionswitch__label nav__link--active" }}
                {{ end }}

              {{ end }}


              <label class="{{ $labelClass }}" for="{{ $menuId }}"
                >{{ $menuItem.Name }} <i class="fa fa-angle-down" aria-hidden="true"></i
              ></label>

              <div class="optionswitch__triangle"></div>
              <ul class="optionswitch__list">
                {{ range $menuItem.Children }}
                  <li class="optionswitch__list-item">
                    {{ .Pre }}
                    <a
					  class="in_out_fast_animated"
                      href="{{ .URL }}"
                      {{ if strings.HasPrefix .URL "http" }}
                        target="_blank" rel="noopener noreferrer"
                      {{ end }}
                      title="{{ .Title }}"
                      >{{ .Name }}</a
                    >
                  </li>
                {{ end }}
              </ul>
            </div>
          </li>
        {{ else }}
          <li class="nav__list-item">
            {{ .Pre }}
            <a
              {{ if $active }}
                class="nav__link--active in_out_fast_animated"
			  {{ else }}
				class="in_out_fast_animated"
              {{ end }}
              href="{{ .URL }}"
              {{ if strings.HasPrefix .URL "http" }}
                target="_blank" rel="noopener noreferrer"
              {{ end }}
              title="{{ .Title }}"
              >{{ $menuItem.Name }}</a
            >
          </li>
        {{ end }}

      {{ end }}
      {{ if not .Site.Params.disableThemeSwitcher }}
        <li class="nav__list-item">
          <button id="themeswitch" class="slow_in_animated" title="Change theme">
			<i id="luna" class ="fas fa-moon fa-fw" aria-hidden="true" ></i>
			<i id="sole" class ="fas fa-sun fa-fw" aria-hidden="true"></i>
          </button>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>
