{{ define "main" }}
   <div
    class="post in_out_slow_animated"
   >
   <div class="side">	
		<img
        	class="profile_picture"
        	src="{{ .Site.Params.profilePicture | relURL }}"
        	alt="profile picture"
      	/>
		<ul class="social">
			{{ range $item := .Site.Params.socialIconsBase64 }}
				<li class="social-item">
			 		<a 
						class="in_out_fast_animated"
						href="{{ $item.title }}"
						data-enc="{{ $item.encoded }}"
						rel="noopener me"
						aria-label="{{ $item.title }}"
						title="{{ $item.title }}"
						onmouseover="this.href = {{ $item.prefix }} +atob(this.dataset.enc)"
						onmouseout="this.href={{ $item.title }}"
					>
						<i class ="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
					</a>
	   			</li>

			{{ end }}
      		{{ range $item := .Site.Params.socialIcons }}
      		  <li class="social-item">
          		<a
            		class = "in_out_fast_animated"
					href="{{ $item.url }}"
          		    target="_blank"
            		rel="noopener me"
            		aria-label="{{ $item.title }}"
            		title="{{ $item.title }}"
          		>
                	<i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
          		</a>
        	</li>
      	{{ end }}
    	</ul>
	</div>
	
    <div class="post__content">
      {{ .Content }}
		
    </div>

	  </div>
{{ end }}

 
