@use 'modules/_config' as config;
@use 'modules/color_theme' as colore;
@use 'animated' as anim;

.abstract {
  border: dashed 1px;
  border-radius: 10px;
  @include colore.themed() {
    border-color: colore.t('primary-lighter');
    color: colore.t('primary-light');
  }
  text-align: justify;
  font-size: 1.4rem;
  line-height: 1.4em;
  margin: 2rem;
  padding: 1rem;
  // From mobile phones
  max-height: 45rem;

  @include config.intermedio() {
    max-height: 30rem;
  }
  @include config.desktop() {
    max-height: 18rem;
  }
  overflow: hidden;
 }

.hidden {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    margin: 0 2rem 0 2rem; // top-right-bottom-left
    padding: 0 1rem 0 1rem;
    border-color: inherit;
}

.abstract_button {
  background-color: transparent;
  padding: 3px;
  border-radius: 20%;
  @include colore.themed() {
    border: 1px solid colore.t('primary-lighter');
    color: colore.t('primary-light');
  }
  &:hover {
    cursor: pointer;
    @include colore.themed() {
      border: 1px solid colore.t('info');
      color: colore.t('info');
    }
  }
}
